{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm shadow p-3 mr-2 ml-2 bg-light rounded">
            <h4 class="text-center text-secondary">Cadastro</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-secondary" type="submit">{{ btn }}</button>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}
